<% @content_title = "Edit Profile" %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password, "Password (again)" %><br />
    <%= f.password_field :password_confirmation %>
  </p>  
  <p>
    <%= f.label :remote_availability %><br />
    <%= f.text_field :remote_availability %>
  </p>
  <p>
    <%= f.label :local_availability %><br />
    <%= f.text_field :local_availability %>
  </p>
  <p>
    <%= f.label :available_to_mentor %><br />
    <%= f.check_box :available_to_mentor %>
  </p>
  <p>
    <%= f.label :available_to_be_mentored %><br />
    <%= f.check_box :available_to_be_mentored %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>