<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :master_skills %><br />
    <%= f.text_area :master_skills %>
  </p>
  <p>
    <%= f.label :intermediate_skills %><br />
    <%= f.text_area :intermediate_skills %>
  </p>
  <p>
    <%= f.label :newbie_skills %><br />
    <%= f.text_area :newbie_skills %>
  </p>
  <p>
    <%= f.label :remote_availability %><br />
    <%= f.text_field :remote_availability %>
  </p>
  <p>
    <%= f.label :local_availability %><br />
    <%= f.text_field :local_availability %>
  </p>
  <p>
    <%= f.label :available_to_mentor %><br />
    <%= f.check_box :available_to_mentor %>
  </p>
  <p>
    <%= f.label :available_to_be_mentored %><br />
    <%= f.check_box :available_to_be_mentored %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>