<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Master skills</th>
    <th>Intermediate skills</th>
    <th>Newbie skills</th>
    <th>Remote availability</th>
    <th>Local availability</th>
    <th>Available to mentor</th>
    <th>Available to be mentored</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.master_skills %></td>
    <td><%=h user.intermediate_skills %></td>
    <td><%=h user.newbie_skills %></td>
    <td><%=h user.remote_availability %></td>
    <td><%=h user.local_availability %></td>
    <td><%=h user.available_to_mentor %></td>
    <td><%=h user.available_to_be_mentored %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>