<% @content_title = @user.name %>

<div class="skinny_left">
  <%= user_image @user, :gravatar_link => true %>
  <p>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  </p>
</div>

<div class="wide_right">

  <p>
    <b>Mentor Status:</b> 
    <% if @user.available_to_mentor %>
      <%= link_to "Ask to be Mentored by #{@user.name}", new_mentorship_path(:mentor_id => @user.id) %>
    <% else %>
      Not available to serve as a Mentor
    <% end %>
  </p>

  <p>
    <b>Apprentice Status:</b>
    <% if @user.available_to_be_mentored %>
      <%= link_to "Offer to Mentor #{@user.name}", new_mentorship_path(:mentee_id => @user.id) %>
    <% else %>
      Not available to be Mentored at this time
    <% end %>
  </p>

  <p>
    <b>Skills:</b>
    
    <%= render "/user_skills/skills", :user => @user %>
  </p>

  <% if @user.available_to_mentor || @user.available_to_be_mentored %>

  <p>
    <b>Remote availability:</b>
    <%=h @user.derived_remote_availability %>
  </p>

  <p>
    <b>Local availability:</b>
    <%=h @user.derived_local_availability %>
  </p>

  <% end %>
</div>