<h2><%=h @user.name %></h2>

<% if @user.available_to_mentor %>
  <p>
    <%= link_to_function "Available as a Mentor", "alert('Not Yet');" %>
  </p>
<% end %>

<% if @user.available_to_be_mentored %>
  <p>
    <%= link_to_function "Looking for a Mentor", "alert('Not Yet');" %>
  </p>
<% end %>


<p>
  <b>Master skills:</b>
  <%=h @user.master_skills %>
</p>

<p>
  <b>Intermediate skills:</b>
  <%=h @user.intermediate_skills %>
</p>

<p>
  <b>Newbie skills:</b>
  <%=h @user.newbie_skills %>
</p>

<% if @user.available_to_mentor || @user.available_to_be_mentored %>

<p>
  <b>Remote availability:</b>
  <%=h @user.remote_availability %>
</p>

<p>
  <b>Local availability:</b>
  <%=h @user.local_availability %>
</p>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>