<% @content_title = @user.name %>

<%= user_image @user %>



<% if @user.available_to_mentor %>
  <p>
    <%= link_to "Ask to be Mentored by #{@user.name}", new_mentorship_path(:mentor_id => @user.id) %>
  </p>
<% end %>

<% if @user.available_to_be_mentored %>
  <p>
    <%= link_to "Offer to Mentor #{@user.name}", new_mentorship_path(:mentee_id => @user.id) %>
  </p>
<% end %>


<p>
  <b>Master skills:</b>  
  <%= render "/user_skills/skills", :level => 2, :user => @user %>

</p>

<p>
  <b>Intermediate skills:</b>
  <%= render "/user_skills/skills", :level => 1, :user => @user %>
  
</p>

<p>
  <b>Newbie skills:</b>
  <%= render "/user_skills/skills", :level => 0, :user => @user %>
  
</p>

<% if @user.available_to_mentor || @user.available_to_be_mentored %>

<p>
  <b>Remote availability:</b>
  <%=h @user.remote_availability %>
</p>

<p>
  <b>Local availability:</b>
  <%=h @user.local_availability %>
</p>

<% end %>

<p>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
</p>