<%= f.label "Skill" %>
<%= f.text_field :skill_name %>
<br/>
<%= f.label "Level" %>
<%= f.select :level, Skill.levels %>
<%= link_to_function "what?", "Element.toggle('skill_levels_help')"%>
<dl id="skill_levels_help" style="display: none;">
  <% Skill.level_descriptions.to_a.each do |desc| %>
    <dt><%= desc[0] %></dt>
    <dd><%= desc[1] %></dd>
  <% end %>
  These are based on the Seven Stages of Software Expertise by Meilir Page-Jones and Wayland Systems Inc.
  <br/>
  <a href="http://www.waysys.com/ws_content_al_sse.html">Read More about these Stages.</a>
</dl>

<%= f.hidden_field :user_id %>

<%# AutoComplete needs to be in the partial that calls the form. %>