<% errors = errors ? errors : [] %>
<% unless errors.empty? %>
<div class="errors">
  <%= errors %>
</div>
<% end %>

<div id="skills_<%= level %>">
  <% # TODO: Remove skill %>
  <% # TODO: Move skill?? %>
  <% user.skills_by_level(level).each do |skill| %>
    <%= skill %><br/>
  <% end %>

  <%= link_to_function "Add Skill", "Element.toggle('new_skill_#{level}')" %>

  <div id="new_skill_<%= level %>" style="display: none;">
    <% instance_variable_set "@user_skill", UserSkill.new(:level => level, :user_id => user.id)%>

    <% form_remote_for(:user_skill, @user_skill, :url => user_skills_path, :update => "skills_#{level}", :html => {:method => :post, :class => "new_user_skill", :id => "new_user_skill_#{level}"}) do |f| %>
      <p>
        <%= f.label "Skill" %>
        <%= f.text_field :skill_name %>
        <br/>
        <%= f.label "Level" %>
        <%= f.select :level, Skill.levels %>
        <%= link_to_function "what?", "Element.toggle('skill_levels_help')"%>
        <dl id="skill_levels_help" style="display: none;">
          <% Skill.level_descriptions.each do |desc| %>
            <dt><%= desc[0] %></dt>
            <dd><%= desc[1] %></dd>
          <% end %>
          These are based on the Seven Stages of Software Expertise by Meilir Page-Jones and Wayland Systems Inc.
          <br/>
          <a href="http://www.waysys.com/ws_content_al_sse.html">Read More about these Stages.</a>
        </dl>
        <br/>
        <%= f.hidden_field :user_id %>
        <%= f.submit 'Add' %>
        <div id="autocomplete_skill_name_<%= level %>" class="autocomplete"></div>
      </p>
    <% end %>
  </div>
  
  <%# OPTIMIZE: This is going to be REALLLLY SLOW at more than 100 Skills %>
  <script type="text/javascript">
    new Autocompleter.Local($('new_user_skill_<%= level %>').getInputs('text', 'user_skill[skill_name]').first(), 'autocomplete_skill_name_<%= level %>', [ <%= Skill.all.reject{ |s| user.skills.include?(s) }.collect{ |s| "\"#{escape_javascript(s.name)}\"" }.join(",") %> ], {});
  </script>
</div>