<% errors = errors ? errors : [] %>

<div id="skills">
  <%= render "/user_skills/add_skill", :user => user, :errors => errors %>
  
  <% # TODO: Remove skill %>
  <% # TODO: Move skill?? %>
  <% user.user_skills.each do |user_skill| %>
    <span id="<%= dom_id user_skill %>">
      <%= user_skill.skill %> - <%= Skill.levels[user_skill.level-1][0] %>
      <%= link_to_remote "[x]", :url => user_skill_path(user_skill),
                                :method => :delete,
                                :loading => "Element.update('#{dom_id user_skill}', 'Deleting...');",
                                :failure => "Element.update('#{dom_id user_skill}', 'Skill unable to be removed. :/');",
                                :success => "Element.update('#{dom_id user_skill}', 'Deleted'); $('#{dom_id user_skill}').fade()"%>
    </span>

    <br/>
  <% end %>




</div>