<p>
  Hey <%= @receiver.name %>,
</p>

<p>
  <%= @sender.name %> has agreed to be your apprentice in <%= @skills %>.
</p>

<p>
  <%= @sender.name %>'s email address is <%= @sender.email %>.
</p>

<p>
  Good luck on this endeavor. We'll be checking in to see how things are going!
</p>

<p>
  -- Your Friends at Coding Mentors
</p>