<p>
  Hey <%= @receiver.name %>,
</p>

<p>
  <%= @sender.name %> has agreed to mentor you in <%= @skills %>.
</p>

<p>
  <%= @sender.name %>'s email address is <%= @sender.email %>.
</p>

<% unless @mentorship.receiver_note.blank? -%>
<p>
  <%= @sender.name %> also wanted to send you the following note:
</p>
<blockquote>
  <%= @mentorship.receiver_note %>
</blockquote>
<% end -%>

<p>
  Good luck on this endeavor. We'll be checking in to see how things are going!
</p>

<p>
  -- Your Friends at Coding Mentors
</p>