<p>
  Hey <%= @receiver.name %>,
</p>

<p>
  <%= @sender.name %> would like to be under your mentorship in <%= @skills %>.
</p>

<% unless @mentorship.sender_note.blank? -%>
<p>
  <%= @sender.name %> also wanted to include the following note:
</p>
<blockquote>
  <%= @mentorship.sender_note %>
</blockquote>
<% end -%>

<p>
  Head on over to <%= respond_mentorship_url(@mentorship) %> to let <%= @sender.name %> know if you'll be able to help out.
</p>

<p>
  Thanks!
</p>

<p>
  -- Your Friends at Coding Mentors
</p>