<h1>Editing mentorship</h1>

<% form_for(@mentorship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mentee_id %><br />
    <%= f.text_field :mentee_id %>
  </p>
  <p>
    <%= f.label :mentor_id %><br />
    <%= f.text_field :mentor_id %>
  </p>
  <p>
    <%= f.label :sender_id %><br />
    <%= f.text_field :sender_id %>
  </p>
  <p>
    <%= f.label :receiver_id %><br />
    <%= f.text_field :receiver_id %>
  </p>
  <p>
    <%= f.label :accepted_at %><br />
    <%= f.datetime_select :accepted_at %>
  </p>
  <p>
    <%= f.label :rejected_at %><br />
    <%= f.datetime_select :rejected_at %>
  </p>
  <p>
    <%= f.label :completed_at %><br />
    <%= f.datetime_select :completed_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mentorship %> |
<%= link_to 'Back', mentorships_path %>