<h1>Editing mentorship</h1>

<% form_for(@mentorship) do |f| %>
  <%= f.error_messages %>

  <%= render "form", :f => f %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mentorship %> |
<%= link_to 'Back', mentorships_path %>