<% @content_title = "Listing mentorships" %>

<table>
  <tr>
    <th>Mentee</th>
    <th>Mentor</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Accepted at</th>
    <th>Rejected at</th>
    <th>Completed at</th>
  </tr>

<% @mentorships.each do |mentorship| %>
  <tr>
    <td><%= link_to mentorship.mentee, user_path(mentorship.mentee) %></td>
    <td><%= link_to mentorship.mentor, user_path(mentorship.mentor) %></td>
    <td><%= link_to mentorship.sender, user_path(mentorship.sender) %></td>
    <td><%= link_to mentorship.receiver, user_path(mentorship.receiver) %></td>
    <td><%=h mentorship.accepted_at %></td>
    <td><%=h mentorship.rejected_at %></td>
    <td><%=h mentorship.completed_at %></td>
    <td><%= link_to 'Show', mentorship %></td>
    <td><%= link_to 'Edit', edit_mentorship_path(mentorship) %></td>
    <td><%= link_to 'Destroy', mentorship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mentorship', new_mentorship_path %>