<% if @mentor %>
  <% @content_title = "Interested in being Mentored by #{@mentor.name}?"%>
<% end %>
<% if @mentee %>
  <% @content_title = "Interested in Mentoring #{@mentee.name}?"%>
<% end %>

<% form_for(@mentorship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label @mentor ? "I'd like help with:" : "I'd like to help with:" %><br />
    <% [@mentor.skills, @mentee.skills].flatten.uniq.each do |skill| %>
      <%= check_box_tag "skills[#{skill.id}]" %><%= skill.name %><br/>
    <% end %>
    <%#= text_area_tag "skills" %>
  </p>
  
  <p>
    <%= f.label "Note" %><br />
    <%= text_area_tag "note" %>
  </p>
  
  <hr />
  
  <%= render "form", :f => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mentorships_path %>