<% if @mentee == current_user %>
  <% @content_title = "Interested in being Mentored by #{@mentor.name}?"%>
  <% not_current_user = @mentor %>
<% elsif @mentor == current_user %>
  <% @content_title = "Interested in Mentoring #{@mentee.name}?"%>
  <% not_current_user = @mentee %>
<% end %>

<%= render "details", :not_current_user => not_current_user %>

<h2>Subject Matter</h2> 
<% form_for(@mentorship) do |f| %>
  <%= f.error_messages %>

  <p>
    <strong>
      <%#= f.label @mentor ? "I'd like help with:" : "I'd like to help with:" %>
      Matching Skills
    </strong>
    <br/>
    <% @matched_skills.each do |matched_skill| %>
      <% skill = matched_skill[:skill] %>      
      <% current_user_user_skill = current_user == @mentor ? matched_skill[:mentor_user_skill] : matched_skill[:mentee_user_skill] %>
      <% not_current_user_user_skill = not_current_user == @mentor ? matched_skill[:mentor_user_skill] : matched_skill[:mentee_user_skill] %>

      
      <%= check_box_tag "skills[#{skill.id}]" %><%= skill.name %><br/>
      
      <%= skill_comparison(skill, not_current_user_user_skill, current_user_user_skill) %>  

      <br/>
    <% end %>
    
  </p>
  
  <p id="all_skills_link">
      <%= link_to_function "Show non-matching skills", "$('all_skills_link').hide(); $('all_skills').show()" %>
  </p>
  
  <div id="all_skills" style="display: none;">
    <strong>
      All skills either you or <%= @receiver %> have
    </strong>  
    <br/>
    <% @other_skills.each do |skill| %>
      <%= check_box_tag "skills[#{skill.id}]" %><%= skill.name %><br/>    
    <% end %>
    <%= link_to_function "Nevermind", "$('all_skills').hide(); $('all_skills_link').show(); $('all_skills').descendants().each(function(element) { if(element.type == 'checkbox') { element.checked = false; }});"%>
  </div>
  
  <p>
    <strong><%= f.label :sender_note, "Anything else you'd like to share with #{not_current_user.name}" %></strong><br />
    <%= f.text_area :sender_note, :rows => 4 %>
  </p>
  
  <%= render "form", :f => f %>

  <p>
    <%= f.submit 'Send' %>
  </p>
<% end %>