<% if @reciever == @mentor %>
  <% @content_title = "Would you like to Mentor #{@mentee}?"%>
<% else %>
  <% @content_title = "Would you like to be Mentored by #{@mentor}?"%>
<% end %>

<script>
  function toggleResponse(yes_or_no) {
    var mentorship_yes = $('mentorship_yes');
    var mentorship_no = $('mentorship_no');
    
    if(yes_or_no) {
      mentorship_no.hide();
      mentorship_yes.show()
    }
    else {
      mentorship_yes.hide();
      mentorship_no.show();
    }
  }
</script>

<%= link_to_function "I'm in!", "toggleResponse(true)" %> | 
<%= link_to_function "I'll pass", "toggleResponse(false)" %>

<div id="mentorship_yes">
  <% form_for(@mentorship) do |f| %>
    <%= f.error_messages %>

    <%= f.label :receiver_note, "Let's get Started" %>
    <br/>
    <%= f.text_area :receiver_note %>
    
    <%= f.hidden_field :accepted?, :value => 1 %>
    <%= f.hidden_field :rejected?, :value => 0 %>

    <p>
      <%= f.submit 'Accept' %>
    </p>
  <% end %>
  
</div>

<div id="mentorship_no" style="display: none;">
  <% form_for(@mentorship) do |f| %>
    <%= f.error_messages %>

    <%= f.label :receiver_note, "See the thing is..." %>
    <br/>
    <%= f.text_area :receiver_note %>
    
    <%= f.hidden_field :accepted?, :value => 0 %>
    <%= f.hidden_field :rejected?, :value => 1 %>

    <p>
      <%= f.submit 'Reject' %>
    </p>
  <% end %>  
</div>