<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.to_s.titlecase %>: <%= controller.action_name.to_s.titlecase %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "forms" %>
  <%= stylesheet_link_tag "autocomplete" %>
</head>
<body>

<div id="header">
  <h1>Coding Mentors or Another Name</h1>

  <div id="user_links">
    <%= render "/users/user_bar" %>
  </div>
</div>

<div id="navigation">
  <%= link_to "Home", root_path %>
  <%= link_to "People", users_path %>
  <%= link_to "Search", "javascript:alert('Coming Soon')"%>
</div>

<div id="content">
  <h1><%= @content_title %></h1>

  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:error] %></p>

  <%= yield %>
</div>

<div id="footer">
  footer info here
</div>

</body>
</html>
